/* login and signup buttons */
.button-container {
  display: flex;
  gap: 8px;
}

.button {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border: 1.5px solid #4a4e69;
}

.signup-btn {
  background-color: #4a4e69;
  color: white;
}

.signup-btn:hover {
  background-color: transparent;
  color: #4a4e69;
}

.login-btn {
  background-color: transparent;
  color: #4a4e69;
}

.login-btn:hover {
  background-color: #4a4e69;
  color: white;
}



/* toast  */
.toast-enter {
  opacity: 0;
  transform: translateY(20px);
}
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}
.toast-exit {
  opacity: 1;
}
.toast-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}