.button-container {
  display: inline-flex;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #f0f0f0; /* light background for contrast */
}

.button {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
}

.signup-btn {
  background-color: #4a4e69; /* primary color */
  color: white;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: #3b3e54; /* slightly darker on hover */
}

.login-btn {
  background-color: transparent;
  color: #4a4e69;
  font-weight: bold;
}

.login-btn:hover {
  background-color: rgba(74, 78, 105, 0.1); /* light tint on hover */
}


/* toast  */
.toast-enter {
  opacity: 0;
  transform: translateY(20px);
}
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}
.toast-exit {
  opacity: 1;
}
.toast-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}